<head>
<title>The Gossip Project</title>
</head>
<center>
<br>
<body><center>
<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %>
 <br /> <br />
<div class="card" style="width: 25rem; padding : 2rem">
<%= form_tag url_for(action: "create"), method: "post" do %>

  <%= label_tag 'Email' %>  : 
  <%= text_field_tag 'user_email' %>
  <br /> <br />
  <%= label_tag 'Password' %>  : 
  <%= text_field_tag 'user_password' %>
  <br /> <br />
  <%= submit_tag "Valider" %>
 
<% end %>
</div>
</body></center>