<head>
<title>The Gossip Project</title>
</head>
<center>
<br>
<h4><%= @gossip.title %></h4>
<p>"
  <%= @gossip.content %>
  "
  <br>
  <%= link_to @gossip.user.first_name, user_path(@gossip.user.id) %>
  de <%= @gossip.user.city.name %>
  <br><br>
  <%= @gossip.date.strftime("Créé le %d/%m/%Y") %>
</p>
</center>
