<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
   
  </head>

<center>
  <body>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-light bg-light">
  
  <span class="navbar-brand mb-0 h1">The Gossip Project</span>
  <a class="navbar-brand"> <%= link_to "Accueil", root_path %> </a>
  <a class="navbar-brand"> <%= link_to "Team", team_path %> </a>
  <a class="navbar-brand"> <%= link_to "Contact", contact_path %> </a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Connexion/Inscription
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"><%= link_to "Inscription", new_user_path %></a>
      <a class="dropdown-item"><%= link_to "Connexion", new_session_path %></a>
    </div>
</div>
  </nav> 
    <%= yield %>
  </body>
</center>
</html>
