<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-light bg-light">
  
  <span class="navbar-brand mb-0 h1">The Gossip Project</span>
  <a class="navbar-brand"> <%= link_to "Accueil", root_path %> </a>
  <a class="navbar-brand"> <%= link_to "Team", team_path %> </a>
  <a class="navbar-brand"> <%= link_to "Contact", contact_path %> </a>
  </nav> 
  </head>

<center>
  <body>
  
    <%= yield %>
  </body>
</center>
</html>
